repositorio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.uned.es/lpp"
           xmlns:lpp="http://www.uned.es/lpp"  xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="tipoRepositorio">
        <xs:sequence>
            <xs:element name="imagen" type="lpp:tipoImagen" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoPunto">
        <xs:sequence>
            <xs:element name="x" type="xs:decimal"/>
            <xs:element name="y" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoForma">
        <xs:sequence>
            <xs:element name="color" type="xs:string"/>
            <xs:element name="borde" type="xs:nonNegativeInteger"/>
            <xs:element name="opacidad">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoRectangulo">
        <xs:complexContent>
            <xs:extension base="lpp:tipoForma" >
                <xs:sequence>
                    <xs:element name="posicion" type="lpp:tipoPunto"></xs:element>
                    <xs:element name="ancho" type="xs:decimal"/>
                    <xs:element name="alto" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>

        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tipoCirculo">
        <xs:complexContent>
            <xs:extension base="lpp:tipoForma">
                <xs:sequence>
                    <xs:element name="centro" type="lpp:tipoPunto"></xs:element>
                    <xs:element name="radio" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tipoElipse">
        <xs:complexContent>
            <xs:extension base="lpp:tipoForma" >
                <xs:sequence>
                    <xs:element name="centro" type="lpp:tipoPunto"></xs:element>
                    <xs:element name="radio_x" type="xs:decimal"/>
                    <xs:element name="radio_y" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tipoLinea">
        <xs:sequence>
            <xs:element name="color" type="xs:string"/>
            <xs:element name="grosor" type="xs:int"/>
            <xs:element name="puntoInicial" type="lpp:tipoPunto" ></xs:element>
            <xs:element name="puntoFinal" type="lpp:tipoPunto" />
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="tipoPoligono">
        <xs:complexContent>
            <xs:extension base="lpp:tipoForma">
                <xs:sequence>
                    <xs:element name="punto" type="lpp:tipoPunto" minOccurs="3" maxOccurs="unbounded"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tipoPolilinea">
        <xs:sequence>
            <xs:element name="color" type="xs:string"/>
            <xs:element name="punto" type="lpp:tipoPunto" minOccurs="2" maxOccurs="unbounded"></xs:element>
        </xs:sequence>

    </xs:complexType>


    <xs:complexType name="tipoImagen">
        <xs:sequence>

        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="rectangulo" type="lpp:tipoRectangulo" />
            <xs:element name="circulo" type="lpp:tipoCirculo" />
            <xs:element name="elipse" type="lpp:tipoElipse" />
            <xs:element name="linea" type="lpp:tipoLinea" />
            <xs:element name="poligono" type="lpp:tipoPoligono" />
            <xs:element name="polilinea" type="lpp:tipoPolilinea" />
        </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:element name="repositorio" type="lpp:tipoRepositorio" />

</xs:schema>